@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
* {
    font-family: "Roboto Condensed", Arial, sans-serif;
}

body {
    background-image: url(../img/devolp.png);
}

a{
    text-decoration: none;
}

ul {
    list-style-type: none;
    color: #fff;
    padding: 0;
}
#stranica {
    width: 90%;
    margin: 50px auto;
    background-color: #fff;
}

/*----------------------*/

#head {
    height: 150px;
    background-image: url(../img/head-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px #000000;
    z-index: 1;
    position: relative;
}

#menu {
    display: flex;
    justify-content: space-around;
    height: 50px;
    margin-bottom: 20px;
    background-color: #5f5c92; 
    overflow-x: auto;
    overflow-y: hidden;
}

.item{
    margin: auto;
    color: #fff;
    font-size: 2em;
    margin: auto 5px;
}

.item>a {
    color: #fff;
    transition: 0.3s;
}

.item:hover .menu-line {
    width: 100%;
}

.menu-line {
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: 0.3s;
    margin: 0 auto;
}

/*----------------------*/

#bar {
    display: flex;
}

#left-bar {
    width: 200px;
    margin-left: 10px;
    margin-right: 5px;
    background-color: #c98cef;
    height: 575px;
}

#left-menu {
    display: flex;
    flex-direction: column;
}

.left-item {
    margin: 10px auto;
}

.left-item>a {
    color: #fff;
    font-size: 1.5em;
    transition: 0.2s;
}

.left-item>a:hover {
    color: #a855b7;
}

#right-bar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width:  100%;
    margin-left: 5px;
    margin-right: 10px;
    background-color: #73d9ce;
}

.right-item {
    width: 400px;
    height: 300px;
    margin: 10px;
    overflow: hidden;
    transition: 0.2s;
}

.right-item:hover {
    box-shadow: 0 3px 10px 0 black;
}

.item-img {
    position: relative;
    height: 265px;
    box-shadow: 0 1px 5px 0 black; 
}

.item-name {
    height: 35px;
    line-height: 35px;
    font-size: 1.2em;
    text-align: center;
    background-color: #f8f8f8;
}

#item-back-1 {background-image: url(../img/right-bar-item/1.jpg);}
#item-back-2 {background-image: url(../img/right-bar-item/2.jpg);}
#item-back-3 {background-image: url(../img/right-bar-item/3.jpg);}
#item-back-4 {background-image: url(../img/right-bar-item/4.jpg);}
#item-back-5 {background-image: url(../img/right-bar-item/5.jpg);}
#item-back-6 {background-image: url(../img/right-bar-item/6.jpg);}

/*----------------------*/

#footer {
    height: 100px;
    margin-top: 20px;
    background-image: url(../img/footer-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*----------------------*/
@media (max-width: 1180px) {
   #left-bar {
    width: 100px;
    height: 350px;
}
    
.left-item {
    margin: 5px auto;
}

.left-item>a {
    font-size: 1em;
}
}
@media (max-width: 1100px) {
    #stranica {
        width: 100%;
    }
    
    #left-bar {
        display: none;
        margin: 0;
    }
    
    #right-bar {
        margin: 0 5px;
    }
}

@media (max-width: 882px) {
    .right-item {
        width: 90%;
    }
}

@media (max-width: 650px) {
    #head {
        height: 100px;
    }
    
    #menu {
        height: 35px;
        margin-bottom: 10px;
    }
    
    .item{
        font-size: 1.5em;
    }
    
    #footer {
        margin-top: 10px;
    }
    
    .menu-line {
        height: 2px;
    }
}

@media (max-width:450px) {
    #head {
        height: 75px;
    }
    
    #menu {
        height: 25px;
        margin-bottom: 7px;
    }
    
    .item{
    font-size: 1.15em;
    }
    
    #footer {
        margin-top: 7px;
    }
    
    .menu-line {
        display: none;
    }
}

/* Index*/


#bar-index {
    margin: 0 10px;
    padding: 10px;
    height: 200px;
    background-color: #73d9ce;
}

#name-index {
    color: #fff;
    font-size: 3.5em;
    text-align: center;
}

.text-index {
    color: #fff;
    text-align: center;
    font-size: 2em;
}

/*Useful*/


#bar-useful {
    margin: 0 10px;
    padding: 10px;
    height: 200px;
    background-color: #73d9ce;
}

#naem-useful {
    color: #fff;
    text-align: center;
    font-size: 3.5em;
}    

#list-syts {
    padding: 0;
    margin-left: 20px;
    font-size: 1.5em;
}

.item-list-syts {
    margin: 5px 0;
}

.url-item-syts {
    color: #fff;
    transition: 0.3s;
}

.url-item-syts:hover {
    color: #307770;
}

.url-item-syts:hover .line-url {
    width: 100%;
}

.line-url {
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: 2s;
    transition-property: ;
}

/*---------------------------------*/

#name-help {
    color: #fff;
    text-align: center;
    font-size: 3em;
}

#mail {
    color: #fff;
    text-align: center;
    font-size: 3em;
    margin: 10px 0;
}

#url-mail {
    color: #fff;
    transition: 0.5s;
}

#url-mail:hover #line-mail {
    color: #307770;
    width: 100%;
}

#url-mail:hover {
    color: #307770;
}

#line-mail {
    width: 0;
    background-color: #fff;
    height: 3px;
    margin: 0 auto;
    transition: 2s;
}

@media (max-width: 520px) {
    #name-help {
        font-size: 2.5em;
    }

    #mail {
        font-size: 2.5em;
    }
    
    #naem-useful {
        font-size: 3em;
    } 
}

@media (max-width: 705px) {
    #name-index {
        font-size: 3em;
    }

    .text-index {
        font-size: 1.8em;
    }
}

@media (max-width: 615px) {
    #name-index {
        font-size: 2.5em;
    }

    .text-index {
        font-size: 1.6em;
    }
}

@media (max-width: 450px) {
    #name-index {
        font-size: 2em;
    }

    .text-index {
        font-size: 1.4em;
    }    
}